mixin buttons(name1, title1, name2, title2, reset)
    .buttons(class=attributes.class)
        if !reset
            button(name='#{name1}', id='#{name1}').buttons__cancel.btn-flat!= title1
        else
            input(type='reset', name='#{name1}', id='#{name1}', value='#{title1}').buttons__cancel.btn-flat
        input(type='submit', name='#{name2}', id='#{name2}', value='#{title2}').buttons__submit.btn-primary