mixin buttons(btn1, title1, btn2, title2, reset)
    .buttons(class=attributes.class)
        if !reset
            button(name='#{btn1}', id='#{btn1}').buttons__cancel.btn-flat!= title1
        else
            input(type='reset', name='#{btn1}', id='#{btn1}', value='#{title1}').buttons__cancel.btn-flat
        input(type='submit', name='#{btn2}', id='#{btn2}', value='#{title2}').buttons__submit.btn-primary