include match

mixin list(list)
	.list._lines.row(class=attributes.class)
		.list__header
			-
				var captions = [
					{"title": "name", "mod": "name"},
					{"title": "role", "mod": "role"},
					{"title": "location", "mod": "location"},
					{"title": "experience", "mod": "experience"},
					{"title": "hourly rate", "mod": "rate"},
					{"title": "match score", "mod": "match"}
				]
			each val in captions
				.list__caption(class='_#{val.mod}')
					|#{val.title}
					if val.mod == 'match'
						img(src='../src/img/svg/icon_caret-down.svg')
		each val, i in list
			.list__item.col-md-4
				a.list-item.list__link(class='#{(i == 0 || i == 4 || i == 5) ? "_my-employee" : ""}', href='#')
					.list-item__photo
						.list-item__image
							img(src='img/#{val.img}.png', alt='#{val.img}')
						if i == 0 || i == 4 || i == 5
							img(src='img/demo-client-logo.png', alt='demo-client-logo').list-item__my-employee
					h4.list-item__name.txt-title-1
						|#{val.name}
						if i == 0 || i == 4 || i == 5
							span.list-item__status My Employee
					.list-item__position.txt-subtitle!= val.position
					.list-item__location.txt-caption
						img(src='../src/img/svg/icon_location.svg')
						|#{val.location}
					.list-item__experience.txt-subtitle 5 Years
					.list-item__rate.txt-subtitle $50/Hr.
					-
						var options1 = {
						"r": 28,
						"R": 31
						}
					-
						var options2 = {
						"r": 17.5,
						"R": 19
						}
					+match(val.match, options1, true, options2).list-item__match